---
---

@import '../_sass/bourbon/bourbon';
@import '../_sass/mixins/meyer-reset';
//@import '../_sass/mixins/genericons';

/* ----------------------------------------------------------------------------------------------------------

Sass variables

---------------------------------------------------------------------------------------------------------- */

$highlight:     #D0021B;
$font-sans:     "proxima-nova", 'freight-sans-pro', Helvetica, Arial, sans-serif;
$font-serifs:   "neuzeit-grotesk";

$mq-tablet:     40em;   //  700px;
$mq-desktop:    60em;   // 1000px;
$mq-wide:       80em;   // 2000px;

/* ----------------------------------------------------------------------------------------------------------

Base styles

---------------------------------------------------------------------------------------------------------- */

::selection {
	background: #0C4180;
	color: #FFF;
}

* {
    @include box-sizing(border-box);
}

html {
	background: #FFF;
	margin: 0;
	padding: 0;
	border-width: 5px 0 0 0;
	font-size: 65%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

    @media screen and (min-width: $mq-tablet) {
        font-size: 70%;
    }

    @media screen and (min-width: $mq-desktop) {
        //font-size: 70%;
    }

    @media screen and (min-width: $mq-wide) {
		background: #111 url(https://keirwhitaker.com/img/bkg/noise.png);
    }
}

body {
	background: #FFF;
	font-family: $font-sans;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #444;

    &:after {
        content: 'default';
        display: none;
    }

    @media screen and (min-width: $mq-tablet) {

        &:after {
            content: 'tablet';
            display: none;
        }
    }

    @media screen and (min-width: $mq-desktop) {

        &:after {
            content: 'desktop';
            display: none;
        }
    }

    @media screen and (min-width: $mq-wide) {

		max-width: 1500px;
		margin: 0 auto;

        &:after {
            content: 'wide';
            display: none;
        }
    }
	}

a {
	padding-bottom: 1px;
	border-bottom: 1px solid #CCC;
	font-weight: 600;
	text-decoration: none;
	color: $highlight;

	&:hover {
		border: none;
		color: #000;
		@include transition(all 0.2s ease-in-out);
	}
}

strong {
	font-weight: 600;
}

h1 {
	margin-bottom: 2rem;
	font-family: $font-serifs;
	font-size: 3rem;
	font-weight: 900;
	line-height: 3rem;
	//letter-spacing: 1px;
	//text-align: center;
	color: #000;

	@media screen and (min-width: $mq-tablet) {

        font-size: 2.4rem;
    }

    @media screen and (min-width: $mq-wide) {

        font-size: 2.8rem;
    }

}

h2 {
	margin-bottom: 2rem;
	font-family: $font-serifs;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.4rem;
	//letter-spacing: 1px;
	color: #000;

	&.divide {
		border-bottom: 1px solid #CCC;
		padding-bottom: 3.2rem;

		& + ul {
			margin-top: 3.2rem;
			margin-bottom: 3.2rem;
		}

		& +ul:last-child {
			margin-bottom: 0;
		}
	}
}

p {
	margin-bottom: 2rem;
	font-size: 1.6rem;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	margin-bottom: 1.6rem;

	@media screen and (min-width: $mq-tablet) {
		margin-left: 4rem;
		list-style-type: square;
	}
}

li {
	font-size: 1.6rem;
	margin-top: 0.4rem;
}

img {
	display: block;
	width: 100%;
}

figure {
	margin-top: 2rem;
	margin-bottom: 2rem;

	a {
		font-weight: 500;
	}
}

figcaption {
	background: #FFF;
	padding: 1rem;
	font-size: 1.4rem;
	font-style: italic;
	text-align: center;
	color: #999;

	&.inverse {
		background: #F1F1F1;
		color: #666;
	}
}


/* ----------------------------------------------------------------------------------------------------------

Layout

---------------------------------------------------------------------------------------------------------- */

.l-content {
	padding: 2rem;
	font-family: $font-sans;
	font-size: 1.6rem;
	line-height: 3rem;
	font-weight: 500;
	text-align: left;
	color: #333;

	@media screen and (min-width: $mq-tablet) {
			padding: 4rem 6rem;
	}

	@media screen and (min-width: $mq-desktop) {
			padding: 4rem 10rem;
	}

	@media screen and (min-width: $mq-desktop) and (orientation: landscape)  {
			padding: 4rem 10rem;
	}

	@media screen and (min-width: $mq-wide) {
			padding: 8rem 18rem;
	}

	div {
		margin: 0 auto;
		max-width: 1000px;

		@media screen and (min-width: $mq-tablet) {
			max-width: 1000px;
			padding: 0 4rem;
		}

		@media screen and (min-width: $mq-wide) {
			max-width: 1100px;
			padding: 0 4rem;
		}
	}
}

/* ----------------------------------------------------------------------------------------------------------

Bio

---------------------------------------------------------------------------------------------------------- */

.bio {
	background: #111;
	padding: 2rem;
	text-align: center;
	color: #FFF;

	@media screen and (min-width: $mq-tablet) {
		padding: 4rem;
	}

	@media screen and (min-width: $mq-wide) {
		background: #111 url(https://keirwhitaker.com/img/bkg/noise.png);
	}

	div {
		@media screen and (min-width: $mq-tablet) {
		}
	}

	h1 {
		margin-bottom: 1rem;
		font-size: 2.6rem;
		color: #FFF;

		@media screen and (min-width: $mq-tablet) {
			margin-bottom: 2rem;
			text-align: center;
			font-size: 5rem;
		}

		@media screen and (min-width: $mq-desktop) {
			margin-bottom: 3rem;
		}
	}

	p {
		font-size: 2rem;
		font-family: Georgia;
		line-height: 2.6rem;
		font-weight: 500;
		font-style: italic;

		@media screen and (min-width: $mq-tablet) {
			//font-size: 2.2rem;
		}



		@media screen and (min-width: $mq-desktop) {
			margin-bottom: 3rem;
			font-size: 2.4rem;
		}
	}
}

/* ----------------------------------------------------------------------------------------------------------

Hero

---------------------------------------------------------------------------------------------------------- */

figure.hero {
	margin-top: 0 !important;
	margin-bottom: 0 !important;

	figcaption {
		background: #f1f1f1;
		padding: 1rem 2rem;
		line-height: 3rem;
		text-align: left;
		font-weight: 500;
		color: #999;

		@media screen and (min-width: $mq-tablet) {
			padding: 2rem 6rem;
		}

		@media screen and (min-width: $mq-desktop) {
			padding: 2rem 12rem;
		}

		@media screen and (min-width: $mq-desktop) and (orientation: landscape)  {
			padding: 2rem 12rem;
		}

		@media screen and (min-width: $mq-wide) {
			padding: 2rem 22rem;
		}

		p {
			max-width: 1100px;
		}
	}
}

/* ----------------------------------------------------------------------------------------------------------

Accepting work

---------------------------------------------------------------------------------------------------------- */

.accepting {
	font-weight: 500;

	// p:last-child {
	// 	font-weight: 600;
	// }
}

/* ----------------------------------------------------------------------------------------------------------

Testimonial

---------------------------------------------------------------------------------------------------------- */

.testimonial {
	background: #F1F1F1;
	font-weight: 500;
	@include clearfix;

	h1 {
		margin-bottom: 4rem;
		text-align: center;
	}

	blockquote{
		display: block;
		width: 100%;
		margin-bottom: 4rem;
	}

	blockquote {

		img {
			float: left;
			width: 100px;
			border-radius: 5rem;
			margin: 0 2rem 2rem 0;
		}

		a {
			font-weight: 600;
			font-family: $font-sans;
			font-style: normal;
		}

		span {
			display: block;
		}

		p {
			margin-left: 125px;
			font-style: italic;
			font-family: Georgia;
		}
	}

	blockquote:nth-child(odd) {

		img {
			float: right;
			margin: 0 0 2rem 2rem;
		}

		p {
			margin-left: 0;
			margin-right: 125px;
			//margin-right: 125px;
		}
	}

	blockquote:last-child {
		margin-bottom: 0;
	}

}

/* ----------------------------------------------------------------------------------------------------------

About

---------------------------------------------------------------------------------------------------------- */

.about {

	figure {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}

	div {
		@include clearfix;
	}

	h1 + p {
		font-style: italic;
		font-family: Georgia;
		//font-weight: 600;
	}
}

/* ----------------------------------------------------------------------------------------------------------

Footer

---------------------------------------------------------------------------------------------------------- */

.hireme {
	background: #F1F1F1;

	p {
		font-size: 2rem;
		line-height: 3.6rem;
		font-weight: 600;
	}

}


	/* ----------------------------------------------------------------------------------------------------------

	Social

	---------------------------------------------------------------------------------------------------------- */

.social {

	text-align: center;

	img {
		width: 100px;
		border-radius: 5rem;
		margin: 0 auto;
	}

	a.fa {
		display: inline-block;
		margin: 0 1rem;
		font-size: 3rem;
		border: none;

		&:hover {
			color: #111;
		}
	}


}

/* ----------------------------------------------------------------------------------------------------------

Hacks

---------------------------------------------------------------------------------------------------------- */

a[href="http://www.creativebloq.com/net-magazine"],
a[href="https://www.amazon.de/Lemmy-Ultimate-Tribute-Robin-Alway/dp/3739130261"] {
	font-style: italic;
}
