<!--  Social links and contact -->
<div class="l-content footer">
    <div class="social">
        <a href="https://twitter.com/oliverlindberg" title="Oliver Lindberg on Twitter"><span class="genericon genericon-twitter"></span></a>
        <a href="https://www.facebook.com/oliver.lindberg" title="Oliver Lindberg on Facebook"><span class="genericon genericon-facebook"></span></a>
        <a href="https://www.instagram.com/lindberg.oliver/" title="Oliver Lindberg on Instagram"><span class="genericon genericon-instagram"></span></a>
        <a href="https://www.linkedin.com/in/oliver-lindberg" title="Oliver Lindberg on Linkedin"><span class="genericon genericon-linkedin-alt"></span></a>
        <a href="mailto:oliver.lindberg@gmail.com" title="Oliver Lindberg on Email"><span class="genericon genericon-mail"></span></a>
    </div>
</div>
