<!--  Social links and contact -->
<div class="l-content footer">
    <div class="social">
        <a href="http://twitter.com/keirwhitaker" title="Keir Whitaker on Twitter"><span class="genericon genericon-twitter"></span></a>
        <a href="http://instagram.com/keirwhitaker" title="Keir Whitaker on Instagram"><span class="genericon genericon-instagram"></span></a>
        <a href="http://uk.linkedin.com/in/keirwhitaker" title="Keir Whitaker on Linkedin"><span class="genericon genericon-linkedin-alt"></span></a>
        <a href="http://github.com/keirwhitaker" title="Keir Whitaker on GitHub"><span class="genericon genericon-github"></span></a>
    </div>
    <p>Copyright &copy; 2014&ndash;2016 | <a href="mailto:hello+website@keirwhitaker.com">Email Me</a></p>
    <p>Hosting by <a href="https://viaduct.io">Viaduct</a></p>
</div>
