<!--  Intro -->
<div class="l-content bio">
	<div>
		<h1>Oliver Lindberg <span>Independent editor, content consultant and conference curator</span></h1>
		<p>I'm an award-winning editor - based in Bath, England - with a strong passion for the web and digital technologies. I help businesses across the world create content that connects with their customers. As the former editor of net magazine, my areas of expertise range from user experience and accessibility to ecommerce and performance. </p>
	</div>
</div>
