<!--  Newsletter -->
<div class="l-content newsletter" id="subscribe">
    <div>
        {% if page.title != 'newsletter' %}
        <div class="tag">Email Newsletter</div>
        {% endif %}
        <h1>Subscribe to Byte Size Bites</h1>
        {% if page.title != 'newsletter' %}
        <p><a href="/newsletter">Byte Size Bites</a> is a cultural dispatch for digital workers in email form. Topics covered include ecommerce, the web industry, podcasting, music, film, magazines, apps, gear, publishing, travel, remote working and more. <a href="http://bytesizebites.com/">Previous editions</a> are archived on the <a href="http://bytesizebites.com/">Byste Size Bites</a> web site.</p>
        {% else %}
        <p>Please enter your email address to join the Byte Size Bytes email newsletter</p>
        {% endif %}
        <form action="https://www.getrevue.co/profile/keirwhitaker/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
            <input placeholder="Your email address" type="email" name="member[email]" id="member_email">
            <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </form>
        <p class="spam">100% no spam and you can unsubscribe any time!</p>
    </div>
</div>
